*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

.header-c {
  background-color: #000000;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
  animation: fadeInDown 1s ease;
}


.about-us-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../images/page-imgages/about-homepage-final.png");
  background-size: 1650px 920px;
  background-position: center;
  background-repeat: no-repeat;
  animation: animateBack 10s forwards;
  background-color: white;
}

@keyframes animateBack {
  0% {

      background-size: 1650px 920px;
  }

  50% {
      background-size: 1720px 970px;
  }

  100% {
      background-size: 1650px 920px;
  }

}

.about-us-container-content {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  color: white;
  background-color: rgba(0, 0, 0, 0.612);
  font-family: 'Satoshi', sans-serif;
}

.about-us-container-content .left-heading {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.about-us-container-content .left-heading p {
  font-size: 1.5rem;
  font-weight: 100;
  color: #d1d1d1;
  border-left: 2px solid #d1d1d1;
  padding-left: 10px;
  font-weight: lighter;
}

.about-us-container-content .right-subheading {
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about-us-container-content .left-heading h1 {
  font-size: 3.5rem;
  letter-spacing: 2.5px;
  line-height: 1.5em;

}



.about-us-container-content .right-subheading h3 {
  width: 95%;
  font-size: 1.2rem;
  line-height: 1.6em;
  letter-spacing: 2px;
  font-weight: 100;
  color: #ffffff;
}

.about-us-container-content .right-subheading a {
  font-family: 'Satoshi', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.about-us-container-content .right-subheading {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}


@media (max-width: 768px) {

  .about-us-container-content {
      flex-direction: column;
      padding: 20px;
  }

  .about-us-container-content .left-heading {
      width: 100%;
  }

  .about-us-container-content .right-subheading {
      width: 100%;
  }

  .about-us-container-content h1 {
      font-size: 40px;
      width: 100%;
  }

  .about-us-container-content div h3 {
      font-size: 16px;
      width: 80vw;
  }

  .header-logo img {
      width: 150px;
  }

  #navbar-list-item {
      flex-direction: column;
  }

  #navbar-list-item li {
      margin-right: 0;
      margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .about-us-container-content {
      flex-direction: column;
      justify-content: flex-end;
  }

  .about-us-container-content .left-heading {
      width: 100%;
      height: 30%;
  }

  .about-us-container-content .left-heading p {
      font-size: 0.9rem;
      padding-left: 5px;
  }

  .about-us-container-content .left-heading h1 {
      font-size: 2.35rem;
      filter: drop-shadow(0px 0px 10px black);
  }

  .about-us-container-content .right-subheading {
      width: 100%;
      height: 35%;
      justify-content: flex-start;
      gap: 25px;
  }

  .about-us-container-content .right-subheading h3 {
      width: 90%;
      font-size: 1rem;
      filter: drop-shadow(0px 0px 3px black);
  }

}




/* ------general---------- */
section {
  width: 100%;
  padding: 0rem 1rem 2rem 1rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ffffff;
  animation: fadeInUp 1s ease;
}

.content {
  max-width: 960px;
  margin: auto;
}

.content p {
  font-size: 1.2rem;
}

section h2 {
  width: 100%;
  background-color: #d8d4ab6c;
  color: #000000e3;
  padding: 0.75rem 1rem;
  border-left: 6px solid #000000;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.team {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.member {
  position: relative;
  flex: 1 1 200px;
  max-width: 200px;
  height: 260px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.member:hover {
  transform: scale(1.05);
}

.member img {
  padding-top: 3.2px;
  width: 100%;
  height: 99%;
  object-fit: fit;
}

.member-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.member-info p {
  font-size: 0.75rem;
}

.member:hover .member-info {
  opacity: 1;
}

.cta {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta button {
  width: 50%;
  background-color: #251209;
  color: white;
  padding: 1rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  margin:2rem ;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta button:hover {
  background-color: #d4676b;
}


.map {
  margin-top: 2rem;
  border-radius: 12px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .team {
    flex-direction: column;
    align-items: center;
  }
}


/* --------footer--------- */
.more-info-list-item h2 {
  margin-left: 22px;
}