/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and general layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #f3e0a0;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  
}

nav ul li a {
  color: black;
  
  text-decoration: none;
  font-size: 18px;
  
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

#category-title {
  font-size: 24px;
  margin: 30px 0;
}

/* Item Cards */
.item-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  text-align: center;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.cart-btn{
  display:flex ;
  align-self: center;
  justify-content: center;
}
.cart-btn button{
  background-color: #c7351b;
  width: 200px;
  height: 50px;
}

button {
  background-color: #3e8e41;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #4CAF50;
}

/* Cart Modal */
#cart-modal {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#cart-items {
  margin-bottom: 20px;
}

#total-price {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Delivery Form */
#delivery-form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#delivery-form input, #delivery-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#delivery-form button {
  background-color: #4CAF50;
}

#payment-page {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 300px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
